#container{
    display: flex;
    width: 1500px;
}
#left{
    width: 125px;
    height: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    flex-direction: column;
    
}
.left1{
   
    display: flex;
    align-items: center;
   
    flex-direction: column;
}
.center{
    width: 900px;

}
.right{
    width: 500px;
}
.swapper{
    display: flex;
    justify-content: center;
}
.div{
  
    display: flex;
   
    flex-direction: column;
}
